
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7" />

	<title>Soldout | 3balls.com</title>
	<meta name="keywords" content="3balls, 3balls.com, preowned, pre-owned, used golf, golf clubs, golf equipment, drivers, golf gear, golf equipment, taylormade, callaway, nike golf, cobra, cleveland, footjoy, mizuno golf, ping golf, titleist, iron sets, fairway woods, putters, wedges, golf bags, golf balls, discount golf clubs">
	<meta name="description" content="Used golf clubs, new golf clubs, and discount golf equipment from 3balls.com. Weekly deals on golf clubs, golf balls, golf shoes and more from name brands like TaylorMade, Callaway, and Nike.">
	<meta name="robots" content="index,follow">
	<meta name="verify-v1" content="eSOBKvRSZjE5CsOXafaSmDApsbuZCiT4qYpiBuRmt98=" />
	<meta name="verify-v1" content="6KG+FyKCzhXMnGSkIXNIjb6KGIOfeCe01fEpJ0AWnUo=" />
	<meta name="google-site-verification" content="cZTC4WMKNHV6GvS58S3fiB_Q0bvDrWYpvoTSsmTfnyg" />
	<base href="http://www.3balls.com/">
	<link href="http://www.3balls.com/min/?g=css&amp;1325566867" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<!-- extra header data for specific page -->																	
		<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1327601-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>

<script>function winopenShipping(){ window.open("http://www.3balls.com/misc/shippop.html",null,"toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=700,height=650,left=50,top=50,titlebar=yes"); }
function winopenReturns(){ window.open("http://www.3balls.com/misc/freereturns.html",null,"toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=700,height=250,left=50,top=50,titlebar=yes"); }
function winopenHelp(){ window.open("http://server.iad.liveperson.net/hc/s-76235038/cmd/kbresource/front_page!PAGETYPE",null,"toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=980,height=680,left=50,top=50,titlebar=yes"); }
function winopenPhone(){ window.open("http://server.iad.liveperson.net/hc/s-76235038/cmd/kbresource/kb-8048023463430765779/view_question!PAGETYPE?sf=101133&amp;documentid=403390&amp;action=view",null,"toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=980,height=680,left=50,top=50,titlebar=yes"); }
</script>

<!-- Header Paste (start) -->

<!--<div id="pageflip">
	<a href="http://www.3balls.com/product-productid/342153/ADIDAS-STRIKE-AG-STAND-BAG-STAND-BAG?3balls_internal_zone=page+peel&amp;3balls_internal_link=adidas+ag+bag"><img src="/website/peels/flip.png" alt="" /><span class="msg_block">Peel A Deal</span></a>
</div>-->

<center><div id="fulltop" style="width:950px; position:relative; margin:-20px auto 0;*margin:-20px auto 10; text-align:center;"></div></center>

<table style="width:950px;padding:0px;" cellspacing="0" cellpadding="0" align="center">
 <tr>
  <td>
<div id="header" style="position:relative;">

<table style="width:950px;" cellspacing="0" cellpadding="0" align="center">
<tr>
<td colspan="3">
<table width=793 border=0 align="right" cellpadding=0 cellspacing=0 style="margin-bottom:15px;">
<tr>
<td valign="top">
<div id="logo" style="position:absolute; *top:-10px;*left:0;left:0;top:15px;"><a href="http://www.3balls.com/"><img src="http://www.3balls.com/images/3balls_logo.png?newyear" alt="3balls.com" /></a></div>
<a id="ship-link"><img SRC="http://www.3balls.com/images/header/headerhelp_01.png" alt="" width=343 height=46 border="0" usemap="#freeship_returnsMap"></a>
<map name="freeship_returnsMap" id="freeship_returnsMap">
<area alt="imagemap" shape="rect" coords="250,11,334,38" href="javascript:winopenReturns()" />
<area alt="imagemap" shape="rect" coords="5,9,250,37" href="javascript:winopenShipping()" />
</map></td>
<td valign="top"><a id="cart-link" href="http://www.3balls.com/customer_account-display/modifycart/"><img SRC="http://www.3balls.com/images/header/headerhelp_02.png" width=116 height=46 alt="shopping cart"></a></td>
<td valign="top"><a href="http://www.3balls.com/customer_account/"><img SRC="http://www.3balls.com/images/header/headerhelp_03.png" width=83 height=46 alt="my account"></a></td>
<td valign="top">
<a class="help" href="javascript:winopenHelp()"><img SRC="http://www.3balls.com/images/header/headerhelp_04.png" width=72 height=46 alt=""></a></td>
<td valign="top">
<!-- BEGIN LivePerson Button Code -->
<div id="lpButDivID-1322768404747"></div>
<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/76235038/?cmd=mTagRepstate&site=76235038&buttonID=13&divID=lpButDivID-1322768404747&bt=1&c=1"></script>
<!-- END LivePerson Button code -->
<!--<script src="https://server.iad.liveperson.net/hc/76235038/?cmd=mTagRepstate&amp;site=76235038&amp;buttonID=12&amp;divID=lpButDivID-1290608357&bt=3&amp;c=1"></script>-->
</td>
</tr>
</table>
	</td>
 </tr>
 <tr>
  <td colspan="3">
    <div id="topnav-wrap">
	<ul id="topnav">
		<li class="clubs">
    	<a>Golf Clubs <span>&darr;</span></a>
			
<table id="megaclubs" class="sub" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="7" valign="top" class="header">
			<div class="all">
				<a href="http://www.3balls.com/shop/Product_Type-Woods_Drivers">All Drivers</a>
				<a href="http://www.3balls.com/shop/Product_Type-Woods_Fairway">All Fairways</a>
				<a href="http://www.3balls.com/shop/Product_Type-Woods_Utility">All Hybrids</a>
				<a href="http://www.3balls.com/shop/Product_Type-Irons">All Irons</a>
				<a href="http://www.3balls.com/shop/Product_Type-Irons_Wedges">All Wedges</a>
				<a href="http://www.3balls.com/shop/Product_Type-Putter">All Putters</a></div>
				</td>
	</tr>
	<tr>
		<td class="h52" valign="bottom"><img src="/header/meganav/used.png?sdf" alt="3balls used" /></td>
		<td style="width:20px;" rowspan="2">&nbsp;</td>
		<td class="h52" valign="bottom"><img src="/header/meganav/openbox.png" alt="3balls open box" /></td>
		<td style="width:20px;" rowspan="2">&nbsp;</td>
		<td class="h52" valign="bottom"><img src="/header/meganav/special.png" alt="3balls special" /></td>
		<td style="width:20px;" rowspan="2">&nbsp;</td>
		<td class="h52" valign="bottom"><img src="/header/meganav/new.png" alt="3balls new" /></td>
	</tr>
	<tr>
		<td style="width:156px;background-color:#f4f4f4;" valign="top" bgcolor="#f4f4f4">
			<ul class="inner cf">
				<li>Consumer trade-ins and pro-shop overstock from around the country...</li>
				<li>&nbsp;</li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Drivers/Condition-USED">Used Drivers</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Fairway/Condition-USED">Used Fairways</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Utility/Condition-USED">Used Hybrids</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Irons/Condition-USED">Used Iron Sets</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Irons_Wedges/Condition-USED">Used Wedges</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Putter/Condition-USED">Used Putters</a></li>
			</ul>		</td>
		<td style="width:156px;background-color:#f4f4f4;" valign="top">
			<ul class="inner cf">
				<li>Big savings on open box, cancelled orders and customer returns...</li>
				<li>&nbsp;</li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Drivers/Condition-OPEN_BOX%2C_CANCELLED_ORDERS">Open Box Drivers</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Fairway/Condition-OPEN_BOX%2C_CANCELLED_ORDERS">Open Box Fairways</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Utility/Condition-OPEN_BOX%2C_CANCELLED_ORDERS">Open Box Hybrids</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Irons/Condition-OPEN_BOX%2C_CANCELLED_ORDERS">Open Box Iron Sets</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Irons_Wedges/Condition-OPEN_BOX%2C_CANCELLED_ORDERS">Open Box Wedges</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Putter/Condition-OPEN_BOX%2C_CANCELLED_ORDERS">Open Box Putters</a></li>
			</ul>		</td>
		<td style="width:156px;background-color:#f4f4f4;" valign="top" bgcolor="#f4f4f4">
			<ul class="inner">
				<li>File under: &quot;3balls did it again&quot;. Opportunity buys you'll only find at 3balls...</li>
				<li>&nbsp;</li>
				<li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--Titleist+909+SureFit">Titleist SureFit 909</a></li>
				<li><a href="http://www.3balls.com/sitesearch/search.php?page=1&amp;keywords=--OptiFit&amp;refine=y&amp;Producttype=Woods+Drivers">Callaway OptiFits</a></li>
			   <li><a href="http://www.3balls.com/sitesearch/search.php?keywords=footjoy+closeout+shoes&amp;image.x=0&amp;image.y=0">FootJoy Closeout Shoes</a></li>
			</ul>		</td>
		<td style="width:156px;background-color:#f4f4f4;" valign="top" bgcolor="#f4f4f4">
			<ul class="inner cf">
				<li>Brand spankin' new products from the top brands in the game...</li>
				<li>&nbsp;</li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Drivers/Condition-NEW">New Drivers</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Fairway/Condition-NEW">New Fairways</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Woods_Utility/Condition-NEW">New Hybrids</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Irons/Condition-NEW">New Iron Sets</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Irons_Wedges/Condition-NEW">New Wedges</a></li>
				<li><a href="http://www.3balls.com/shop/Product_Type-Putter/Condition-NEW">New Putters</a></li>
			</ul>		</td>
	</tr>
	<tr>
	<td class="h20" colspan="7">&nbsp;</td>
	</tr>
	<tr>
	<td colspan="3" rowspan="2" valign="top"><img src="/header/meganav/bb.png?ds" alt="3balls bargain basement" usemap="#MapMegaBB" /></td>
	<td style="width:20px;" rowspan="2">&nbsp;</td>
	<td colspan="3" valign="top" height="26"><img src="/header/meganav/more.png?ddsf" alt="3balls more" /></td>
	</tr>
	<tr>
		<td valign="top"><a href="http://www.3balls.com/shop/Gender-Women%27s">Women's Golf Equipment</a>
		<div class="clear"></div>
		<a href="http://www.3balls.com/shop/Hand-LH">Lefty Golf Clubs</a>
		<div class="clear"></div>
		<a href="http://www.3balls.com/shop/Product_Type-Complete_Sets">Complete Sets</a></td>
		<td valign="top">&nbsp;</td>
		<td valign="top"><a href="http://www.3balls.com/shop/Gender-Junior%27s">Junior Golf Center</a>
		<div class="clear"></div>
		<a href="http://www.3balls.com/sitesearch/search.php?page=1&amp;keywords=--senior&amp;refine=y&amp;Shaftflex=Light%2FSenior">Senior Flex Golf Clubs</a>
		<div class="clear"></div>
		<a href="http://www.3balls.com/file_include-file/golf-clubs">All Golf Clubs</a></td>
	</tr>
</table>

<map name="MapMegaBB">
<area alt="imagemap" shape="rect" coords="2,26,163,57" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Woods+Drivers&amp;Price=Under+$100&amp;sort_by_field=Price:DESC">
<area alt="imagemap" shape="rect" coords="4,57,164,85" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Woods+Fairway&amp;Price=Under+$75&amp;sort_by_field=Price:DESC">
<area alt="imagemap" shape="rect" coords="4,85,164,113" href="#"><area alt="imagemap" shape="rect" coords="167,26,329,55" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Irons&amp;Price=Under+$300&amp;sort_by_field=Price:DESC">
<area alt="imagemap" shape="rect" coords="168,55,330,86" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Irons+Wedges&amp;Price=Under+$50&amp;sort_by_field=Price:DESC"><area alt="imagemap" shape="rect" coords="167,86,330,116" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Putter&amp;Price=Under+$50&amp;sort_by_field=Price:DESC">
</map></li>

<li><a href="http://www.3balls.com/shop/Product_Type-Apparel" title="Golf Apparel">Apparel</a></li>
<li><a href="http://www.3balls.com/shop/Product_Type-Balls" title="Golf Balls">Golf Balls</a></li>
<li><a href="http://www.3balls.com/shop/Product_Type-Shoes" title="Golf Shoes">Golf Shoes</a></li>
<li><a href="http://www.3balls.com/shop/Product_Type-Bags" title="Golf Bags">Golf Bags</a></li>
		<li class="acc">
    	<a>Accessories <span>&darr;</span></a>
      <div class="sub">
				<ul>
					<li class="head">Golf Accessories</li>
        	<li><a href="http://www.3balls.com/shop/Product_Type-Apparel">Apparel</a></li>
          <li><a href="http://www.3balls.com/shop/Product_Type-Bags">Bags</a></li>
          <li><a href="http://www.3balls.com/shop/Product_Type-Balls">Balls</a></li>
          <li><a href="http://www.3balls.com/shop/Product_Type-Gloves/display_type-List">Gloves</a></li>
        </ul>
        <ul>
		<li class="head">&nbsp;</li>
		<li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--gifts">Golf Gifts</a></li>
		<li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--gadget&amp;refine=y&amp;Producttype=Accessories">GPS/Rangefinders</a></li>
        <li><a href="http://www.3balls.com/shop/Product_Type-Grips">Grips</a></li>
        <li><a href="http://www.3balls.com/shop/Product_Type-Headcover">Headcovers</a></li>
        </ul>
        <ul>
		  <li class="head">&nbsp;</li>
		  <li><a href="http://www.3balls.com/sitesearch/search.php?page=1&amp;keywords=--hat&amp;refine=y&amp;Producttype=Apparel">Headwear</a></li>
          <li><a href="http://www.3balls.com/shop/Product_Type-Practice_Aids">Practice Aids</a></li>
          <li><a href="http://www.3balls.com/shop/Product_Type-Shoes">Shoes</a></li>
          <li><a href="http://www.3balls.com/shop/Product_Type-Spikes">Shoe Spikes</a></li>
          </ul>
          <ul>
		  <li class="head">&nbsp;</li>
		  <li><a href="http://www.3balls.com/shop/Product_Type-Socks">Socks</a></li>
          <li><a href="http://www.3balls.com/shop/Product_Type-Tees">Tees</a></li>
          <li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--towel&amp;refine=y&amp;Producttype=Accessories">Towels</a></li>
          <li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--umbrella&amp;refine=y&amp;Producttype=Accessories">Umbrellas</a></li>
        </ul>
 		</div>
		</li>
		<li class="bluebutton more">
    	<a>More to See <span>&darr;</span></a>
      <div class="sub">
      	<ul>
          <li class="head">More to See</li>
	  	  <li><a href="/Trade-In/Used-golf-clubs.html">Trade-In &amp; Save</a></li>
          <li><a href="/ebay.php?m=store" target="_blank">3balls eBay Store</a></li>
		  <li><a href="/product_alerts">Product Arrival Alerts!</a></li>
		  <li><a href="/sitesearch/search.php?keywords=--TopSellers">Top Sellers</a></li>
		  <li><a href="/gift_certificates">Gift Certificates</a></li>
          <li><a href="/file_include-file/buy-with-confidence">Buy with Confidence</a></li>
          <li><a href="/file_include-file/where-we-get-our-stuff">Where Do We Get Our Stuff?</a></li>
          <li><a href="/file_include-file/comictoday">3balls dot Comic Strip</a></li>
          <li><a href="/file_include-file/castofcharacters">Cast of Characters</a></li>
          <li><a href="/file_include-file/whatis">What is a 3balls?</a></li>
					<li><a href="/file_include-file/sitemap">Sitemap</a></li>
        </ul>
      </div>
	 <!--<li class="redbutton" style="margin-right:3px;"><a href="/file_include-file/3balls-promos" style="color:#FFFF00;font-style:italic;font-size:12px;">Deal Zone!</a></li>
	 <li class="blackbutton" style="margin-right:3px;"><a href="http://www.3balls.com/sitesearch/search.php?page=1&keywords=blackfriday&image.x=0&image.y=0&shown=90" style="color:#FAD576;font-style:italic;font-size:12px;">Gift Guide</a></li>-->
    </li>
  </ul>
    </div>
	</td>
 </tr>
 <tr>
  <form id='nxt-search-form' action="/sitesearch/search.php" method="GET">
   <td width="166" style="background-color:#748635;">
	 	<div id="search">
			<div class="inner">
				<input class="text" name="keywords" id='nxt-search-box' type="text" value="Search 3balls.com..." onFocus="if (this.value == 'Search 3balls.com...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Search 3balls.com...';}">
				<input class="image" name="image" type="image" src="/spacer.gif" alt="Search" align="top" width="20" height="20" />
			</div>
   	</div><!-- #search -->
	 </td>
  </form>
  <td width="172" style="border-left:1px solid #fff; border-right:1px solid #fff;background-color:#A7C39B;">
		<div id="browsebrands">
<form name="brands">
 <select name="bb" onChange="window.location.href=this.value; return false">
  <option selected="selected" value="http://www.3balls.com/sitesearch/search.php?keywords=--">Browse by Brand</option>
	<optgroup label="Top Brands" id="topbrands">
		<option value="http://www.3balls.com/shop/Brand-Adams">Adams</option>
		<option value="http://www.3balls.com/shop/Brand-Callaway">Callaway</option>
		<option value="http://www.3balls.com/shop/Brand-Cleveland">Cleveland</option>
		<option value="http://www.3balls.com/shop/Brand-Cobra">Cobra</option>
		<option value="http://www.3balls.com/shop/Brand-FootJoy">FootJoy</option>
		<option value="http://www.3balls.com/shop/Brand-Mizuno">Mizuno</option>
		<option value="http://www.3balls.com/shop/Brand-Nike">Nike</option>
		<option value="http://www.3balls.com/shop/Brand-Odyssey">Odyssey</option>
		<option value="http://www.3balls.com/shop/Brand-Ping">Ping</option>
		<option value="http://www.3balls.com/shop/Brand-TaylorMade">TaylorMade</option>
		<option value="http://www.3balls.com/shop/Brand-Titleist">Titleist</option>
	</optgroup>
	<optgroup label="More Brands" id="morebrands">
		<option value="http://www.3balls.com/shop/Brand-Adidas">Adidas</option>
		<option value="http://www.3balls.com/shop/Brand-Ashworth">Ashworth</option>
		<option value="http://www.3balls.com/shop/Brand-Back_9">Back 9</option>
		<option value="http://www.3balls.com/shop/Brand-Bag_Boy">Bag Boy</option>
		<option value="http://www.3balls.com/shop/Brand-Ben_Hogan">Ben Hogan</option>
		<option value="http://www.3balls.com/sitesearch/search.php?keywords=--bridgestone">Bridgestone</option>
		<option value="http://www.3balls.com/shop/Brand-Bushnell">Bushnell</option>
		<option value="http://www.3balls.com/shop/Brand-Club_Glove">Club Glove</option>
		<option value="http://www.3balls.com/shop/Brand-Guerin_Rife">Guerin Rife</option>
		<option value="http://www.3balls.com/shop/Brand-Leupold">Leupold</option>
		<option value="http://www.3balls.com/shop/Brand-MacGregor">MacGregor</option>
		<option value="http://www.3balls.com/shop/Brand-Medicus">Medicus</option>
		<option value="http://www.3balls.com/shop/Brand-Momentus">Momentus</option>
		<option value="http://www.3balls.com/shop/Brand-Never_Compromise">Never Compromise</option>
		<option value="http://www.3balls.com/shop/Brand-Orlimar">Orlimar</option>
		<option value="http://www.3balls.com/sitesearch/search.php?keywords=--precept">Precept</option>
		<option value="http://www.3balls.com/shop/Brand-Puma">Puma</option>
		<option value="http://www.3balls.com/shop/Brand-SkyGolf">SkyGolf</option>
		<option value="http://www.3balls.com/shop/Brand-Softspikes">Softspikes</option>
		<option value="http://www.3balls.com/shop/Brand-Square_Two">Square Two</option>
		<option value="http://www.3balls.com/shop/Brand-Srixon">Srixon</option>
		<option value="http://www.3balls.com/shop/Brand-Tommy_Armour">Tommy Armour</option>
		<option value="http://www.3balls.com/shop/Brand-Top-Flite">Top-Flite</option>
		<option value="http://www.3balls.com/shop/Brand-Tour_Edge">Tour Edge</option>
		<option value="http://www.3balls.com/shop/Brand-Trion%3AZ">Trion:Z</option>
		<option value="http://www.3balls.com/shop/Brand-Wilson">Wilson</option>
		<option value="http://www.3balls.com/shop/Brand-Yes!">Yes!</option>
	</optgroup>
 </select>
</form>
		</div><!-- #browsebarnds -->
	</td>
<td width="444" valign="middle" class="w444" id="newvisitorblock"><a href="http://www.3balls.com/product_alerts"><img src="/misc/productalerts/head-other-alerts-left.gif" width="131" height="42" alt="3balls product alerts" /></a><a class="tooltips" href="http://www.3balls.com/product_alerts"><img src="/misc/productalerts/head-other-alerts-right.gif" width="16" height="42" alt="3balls product alerts" /><span class="tip"><img src="/misc/productalerts/productalertwhatbox.gif" border="0" /></span></a><a href="http://www.3balls.com/sitesearch/search.php?keywords=toolow&amp;image.x=0&amp;image.y=0"><img src="/images/header/toolownav.jpg?ptl" alt="3balls too low" border="0" style="margin:0 1px;" /></a><img src="/header/header-connect-tab.png?23" width="146" height="42" alt="3balls social connect" usemap="#MapHeadConnect" /></td>
 </tr>
 <tr>
  <td colspan="3" valign="top"><div align="center">
    <table id="header_search_bar" style="width:950px;padding:0;" align="center">
     <tr>
      <td align="center">
      
			<div id="sliver-wrap2">
			<div id="sliver-wrap">
				<div class="slivs"><script>
	var d = new Date()
	var day = d.getUTCDay()
	var hour = d.getUTCHours()-4
	// if is Sunday or after 4pm or before 10am
	if ( day == 7 || hour >= 16 || hour < 10 ) { document.write('<a class="sliver" href="http://www.3balls.com/sitesearch/search.php?keywords=ping+pal+compelte+sets&image.x=0&image.y=0">Check Out The Ping Pal Junior Complete Sets! - <span>GO!></span></a>'); }
	else { document.write('<a class="sliver" href="http://www.3balls.com/sitesearch/search.php?keywords=ping+pal+compelte+sets&image.x=0&image.y=0">Check Out The Ping Pal Junior Complete Sets! - <span>GO!></span></a>'); }
</script>


</div>
</div><!-- #sliver-wrap -->
</div><!-- #sliver-wrap2 -->		
<div id="bbanner"></div><!-- #bbanner -->
		</td>
     </tr>
    </table>
  </div></td>
 </tr>
</table>
</div>
</td>
 </tr>
</table>
<!-- Header Paste (end) -->
<map name="MapHeadConnect" id="MapHeadConnect">
	<area alt="imagemap" shape="rect" coords="102,1,141,41" href="http://blog.3balls.com/" target="_blank" />
	<area alt="imagemap" shape="rect" coords="47,1,97,41" href="http://www.facebook.com/pages/3ballscom/82228985071" target="_blank" />
<area alt="imagemap" shape="rect" coords="6,1,40,41" onClick="window.open('','page','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=625,height=450,left=50,top=50,titlebar=yes')" target="page" href="http://www.3balls.com/promotions/emailsignuppop.php" />
</map>
	
	<table width="950" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="center" valign="top">
				<div class="sold-out">

	<div class="sorry">Sorry! The Item You are Looking for is Currently "Not Available"</div>
	<div class="subhead">How Did That Happen?</div>
	<div class="ifnot">
		<strong>Well, a lot of our products are "unique" with only 1 "SKU" available, so...</strong><br>
		It's possible another buyer just snagged it a split second ago.<br>
		It's also possible that it just got launched for auction on our <strong><a href="http://www.3balls.com/ebay.php?m=store" target="_blank">eBay store</a></strong>. (Especially if its around 4pm EST)<br>
		It might even still be in <a href="http://www.3balls.com/customer_account-display/modifycart/">your shopping cart</a> (if you added it and then navigated away from the page)<br>
		It's unlikely, but it could also have been abducted by golfing aliens.<br>
  </div>
	<div class="creat-alert">
		<div class="subhead">Here's a Cool Option:</div>
		<a href="http://www.3balls.com/product_alerts"><img src="/productalerts/outofstock-createalert.gif" border="0" alt="create product alert" /></a>
	</div>

</div>			</td>
		</tr>
	</table>
	
<!--[if IE]>
<center>
<![endif]-->

<div id="footer">
	<div id="footer-extra">
		<div id="bb-footer">
	<img src="/nextopia/bbfooter2.png" alt="3balls bargain basement" usemap="#MapBBFooter">
		<map name="MapBBFooter">
        <area alt="imagemap" shape="rect" coords="6,98,171,126" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Woods+Drivers&amp;Price=Under+$100&amp;sort_by_field=Price:DESC">
        <area alt="imagemap" shape="rect" coords="5,129,170,156" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Woods+Fairway&amp;Price=Under+$75&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="5,157,171,188" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Woods+Utility&amp;Price=Under+$75&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="175,97,346,125" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Irons&amp;Price=Under+$300&amp;sort_by_field=Price:DESC">
        <area alt="imagemap" shape="rect" coords="176,128,345,155" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Irons+Wedges&amp;Price=Under+$50&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="175,158,346,187" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Putter&amp;Price=Under+$50&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="350,96,519,125" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Bags&amp;Price=Under+$75&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="349,127,519,156" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Shoes&amp;Price=Under+$50&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="350,157,519,184" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Type=Golf+Shirt&amp;Price=Under+$25&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="528,94,693,124" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Balls&amp;Price=Under+$25&amp;sort_by_field=Price:DESC">
	    <area alt="imagemap" shape="rect" coords="528,125,696,153" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Apparel&amp;Price=Under+$10&amp;sort_by_field=Price:DESC">
        <area alt="imagemap" shape="rect" coords="528,156,695,186" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Accessories&amp;Price=Under+$10&amp;sort_by_field=Price:DESC">
	  <area alt="imagemap" shape="rect" coords="338,211,494,250" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Woods+Drivers&amp;Price=Under+$10" />
	  <area alt="imagemap" shape="rect" coords="519,212,689,251" href="http://www.3balls.com/sitesearch/search.php?keywords=--BargainBasement&amp;refine=y&amp;Producttype=Woods+Fairway&amp;Price=Under+$10" />
		</map>
		</div><!-- #bb-footer -->

		<div id="email-footer">
			<iframe src="/promotions/email-signup-tiny.php" style="width:230px;height:200px;border:none;" scrolling="No" frameborder="0"></iframe>
		</div>
		
		
		<div style="clear:both"></div>
	</div><!-- end footer-extra -->
	
	<div style="clear:both"></div>
	
	<div id="global-footer">
	  <table class="ft1" align="center">
        <tr>
          <td><table class="ft2">
              <tr id="footer-columns-tr">
                <td><div id="footer-columns-wrap">
                  <div class="footer-columns">
                    <ul>
                      <li class="list-head">About 3balls</li>
                      <li><a href="http://www.3balls.com/file_include-file/whatis">What is a 3balls?</a></li>
                      <li><a href="http://www.3balls.com/file_include-file/castofcharacters">Cast of Characters</a></li>
                      <li><a href="http://www.3balls.com/file_include-file/comictoday">3balls dot Comic Strip</a></li>
                      <li><a href="http://www.3balls.com/ebay.php?m=store">3balls eBay Store</a></li>
                    </ul>
                    <ul>
                      <li class="list-head lower">Helpful Links</li>
                      <li><a href="javascript:winopenHelp()">Help</a></li>
                      <li><a href="http://www.3balls.com/file_include-file/sitemap">Sitemap</a></li>
                      <li><a href="javascript:winopenPhone()">Contact Us</a></li>
                      <li><a href="http://www.3balls.com/file_include-file/conditionpage">Condition Grading</a></li>
                      <li><a href="http://www.3balls.com/customer_account-display/modifycart">Shopping Cart</a></li>
					  <li><a href="http://www.3balls.com/file_include-file/tradeins">Trade-In &amp; Save</a></li>
					  <li><a href="http://www.3balls.com/product_alerts">Product Arrival Alerts!</a></li>
                    </ul>
                  </div>
                  <div class="footer-columns">
                    <ul>
                      <li class="list-head">Customer Service</li>
                      <li><a href="javascript:winopenHelp()">Help Desk</a></li>
					  <li><a href="http://server.iad.liveperson.net/hc/s-76235038/cmd/kbresource/kb-8048023463430765779/view_question!PAGETYPE?sf=101133&amp;documentid=403365&amp;action=view" target="page" onClick="window.open('','page','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=980,height=680,left=50,top=50,titlebar=yes')">Shipping Rates &amp; Info</a></li>
                      <li><a href="http://www.3balls.com/customer_account-display/modifycart">Shopping Cart</a></li>
                      <li><a href="http://www.3balls.com/customer_account">Track Recent Order</a></li>
                      <li><a href="http://server.iad.liveperson.net/hc/s-76235038/cmd/kbresource/kb-8048023463430765779/view_question!PAGETYPE?sf=101133&amp;documentid=403387&amp;action=view" target="page" onClick="window.open('','page','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=980,height=680,left=50,top=50,titlebar=yes')">Return Info</a></li>
                      <li><a href="http://server.iad.liveperson.net/hc/s-76235038/cmd/kbresource/kb-8048023463430765779/view_question!PAGETYPE?sf=101133&amp;documentid=403368&amp;action=view" target="page" onClick="window.open('','page','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=980,height=680,left=50,top=50,titlebar=yes')">Payment Info</a></li>
                      <li><a href="http://www.3balls.com/gift_certificates">Gift Certificates</a></li>
                      <li><a href="http://privacy-policy.truste.com/verified-policy/www.3balls.com" target="_blank" rel="nofollow">Privacy Policy</a></li>
                      <li><a href="javascript:winopenPhone()">Contact Us</a></li>
                      <li><a href="http://www.3balls.com/file_include-file/affiliate-program">Affiliate Program</a></li>
                      <li><a href="http://www.3balls.com/jobs/2010/jobs.html" target="_blank">Jobs at 3balls</a></li>
					  <li><a href="http://www.3balls.com/product_alerts">Product Arrival Alerts!</a></li>
					  <li><a href="http://local.golftipsmag.com/" target="_blank" rel="nofollow">Local Golf Guides</a></li>
                      <li><a href="http://www.3balls.com/">Back to Homepage</a></li>
                    </ul>
                  </div>
                  <div class="footer-columns">
                    <ul>
                      <li class="list-head">Shop Equipment</li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Woods_Drivers">Drivers</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Woods_Fairway">Fairway Woods</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Woods_Utility">Hybrids</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Irons">Iron Sets</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Irons_Singles">Single Irons</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Complete_Sets">Complete Sets</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Irons_Wedges">Wedges</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Putter">Putters</a></li>
                      <li><a href="http://www.3balls.com/shop/Gender-Women%27s">Women's Equipment</a></li>
                      <li><a href="http://www.3balls.com/shop/Gender-Junior%27s">Junior Equipment</a></li>
                      <li><a href="http://www.3balls.com/shop/Hand-LH">Lefty Equipment</a></li>
                    </ul>
                  </div>
                  <div class="footer-columns">
                    <ul>
                      <li class="list-head">Shop Accessories</li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Apparel">Apparel</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Bags">Bags</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Balls">Balls</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Gloves">Gloves</a></li>
                      <li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--gifts">Golf Gifts</a></li>
                      <li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--gadget&amp;refine=y&amp;Producttype=Accessories">GPS/Rangefinders</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Headcover">Headcovers</a></li>
                      <li><a href="http://www.3balls.com/sitesearch/search.php?page=1&amp;keywords=--hat&amp;refine=y&amp;Producttype=Apparel">Headwear</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Practice_Aids">Practice Aids</a></li>
                      <li><a href="http://www.3balls.com/shop/Product_Type-Shoes">Shoes</a></li>
                      <li><a href="http://www.3balls.com/sitesearch/search.php?keywords=--team">Team Gear</a></li>
                    </ul>
                  </div>
                  <div class="footer-columns last">
                    <ul>
                      <li class="list-head">Shop Top Brands</li>
                      <li><a href="http://www.3balls.com/shop/Brand-Adams">Adams</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Callaway">Callaway</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Cleveland">Cleveland</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Cobra">Cobra</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-FootJoy">FootJoy</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Mizuno">Mizuno</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Nike">Nike</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Odyssey">Odyssey</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Ping">PING</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-TaylorMade">TaylorMade</a></li>
                      <li><a href="http://www.3balls.com/shop/Brand-Titleist">Titleist</a></li>
                    </ul>
                  </div>
                  </div>
                  <div style="clear:both;"></div>
				</td>
              </tr>
              <tr>
              	<td align="center"></td>
              	</tr>
              <tr>
                <td align="center">
				<img src="http://www.3balls.com/misc/static-secure-logos.gif?2" alt="3balls secure" usemap="#MapSecureLogos" />	
<map name="MapSecureLogos" id="MapSecureLogos">
<area alt="imagemap" shape="rect" coords="293,14,409,86" rel="nofollow" href="http://stellaservice.com/profile/389/" target="_blank" />
<area alt="imagemap" shape="rect" coords="48,9,132,94" rel="nofollow" href="https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.3BALLS.COM&amp;lang=en" target="_blank" />
<area alt="imagemap" shape="rect" coords="177,9,250,95" rel="nofollow" href="http://www.3balls.com/ebay.php?m=feedback" target="_blank" />
<area alt="imagemap" shape="rect" coords="449,14,565,86" rel="nofollow" href="https://www.scanalert.com/RatingVerify?ref=www.3balls.com" target="_blank" />
<area alt="imagemap" shape="rect" coords="599,4,671,98" rel="nofollow" href="//privacy-policy.truste.com/click-to-verify/www.3balls.com" target="_blank" />
<area alt="imagemap" shape="rect" coords="712,8,852,93" rel="nofollow" href="http://www.bizrate.com/ratings_guide/cust_reviews__mid--85041.html" target="_blank" />
</map>				</td>
              </tr>
              <tr>
                <td><img src="/images/static/payment-methods.gif" alt="3balls payment methods"></td>
              </tr>
              <tr>
                <td><div id="footer-tiny">* 3balls dollar ($) and percentage (%) off promotions: Due to manufacturer restrictions, all new (not including closeouts) items (including logo overruns) from Adams, Adidas, Ben Hogan, Callaway, Cleveland, Club Glove, Cobra, FootJoy, Mizuno, Never Compromise, Nike, Odyssey, PING, Sun Mountain, TaylorMade, Titleist and some others are EXCLUDED. Promotions cannot be combined with other offers. Free shipping offers exclude all new PING product.</div> </td>
              </tr>
          </table></td>
        </tr>
      </table>
	</div><!-- end global-footer -->
</div><!-- #footer -->

<!--[if IE]>
</center>
<![endif]-->

<script src="/sitesearch/nxt-ac-js-1.1-min.js"></script>
<link rel="stylesheet" type="text/css" href="/sitesearch/ac.css">
<script>
(function() {
var jnxtac = jQuery.noConflict(true);
jnxtac("#nxt-search-box").autocomplete({cid:'537fcc4633f3a572abeac4818d8e147f'});

jnxtac.ui.autocomplete.prototype._handleProductSelect = function (item) {
location.href = "http://www.3balls.com/" + item.Url;
}; 
})();
</script>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script>
document.write(unescape("%3Cscript%20src='"+
(document.location.protocol=='https:'?
 'https://clicktale.pantherssl.com/':
  'http://s.clicktale.net/')+
"WRb6.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
var ClickTaleSSL=1;
if(typeof ClickTale=='function') ClickTale(5079,0.012,"www07");
</script>
<!-- ClickTale end of Bottom part -->	<script src="http://www.3balls.com/min/?g=js&amp;1313766254"></script>
	<!-- extra footer data for specific page -->																	
	
	
<!--[ if (gte IE 6) & (lte IE 8) ]>
<script src="/js/selectivizr.js"></script>
<![ endif ]-->

<!-- BEGIN LivePerson Monitor. --><script> var lpMTagConfig = {'lpServer' : "server.iad.liveperson.net",'lpNumber' : "76235038",'lpProtocol' : (document.location.toString().indexOf('https:')==0) ? 'https' : 'http'}; function lpAddMonitorTag(src){if(typeof(src)=='undefined'||typeof(src)=='object'){src=lpMTagConfig.lpMTagSrc?lpMTagConfig.lpMTagSrc:'/hcp/html/mTag.js';}if(src.indexOf('http')!=0){src=lpMTagConfig.lpProtocol+"://"+lpMTagConfig.lpServer+src+'?site='+lpMTagConfig.lpNumber;}else{if(src.indexOf('site=')<0){if(src.indexOf('?')<0)src=src+'?';else src=src+'&';src=src+'site='+lpMTagConfig.lpNumber;}};var s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('charset','iso-8859-1');s.setAttribute('src',src);document.getElementsByTagName('head').item(0).appendChild(s);} if (window.attachEvent) window.attachEvent('onload',lpAddMonitorTag); else window.addEventListener("load",lpAddMonitorTag,false);</script><!-- END LivePerson Monitor. -->
<!--<script>
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js'%3E%3C/script%3E"));
</script>-->


<!-- Begin: 4q.iperceptions.com -->
<script src="http://4qinvite.4q.iperceptions.com/1.aspx?sdfc=5ea1577b-1971-0ceb1432-d529-478e-802b-69b77ba75e0e&lID=1&loc=4q-web1" defer="defer" ></script>
<!-- End: 4q.iperceptions.com -->


<!-- Veruta tracking start -->
<script>document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.veruta.com/scripts/trackmerchant.js'%3E%3C/script%3E"));</script>
<script>var v_merchantID = 3390336734;v_trackPage();</script>
<!-- Veruta tracking end -->

<!-- begin Marin Software Tracking Script -->
<script type='text/javascript'>
	var _marinClientId = "1373t4f10039";
	var _marinProto = (("https:" == document.location.protocol) ? "https://" : "http://");
	document.write(unescape("%3Cscript src='" + _marinProto + "tracker.marinsm.com/tracker/" + _marinClientId + ".js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type='text/javascript'>
	try {
		_marinTrack.trackPage();
	} catch(err) {}
</script>
<noscript>
<img src="https://tracker.marinsm.com/tp?act=1&cid=1373t4f10039&script=no" >
</noscript>
<!-- end Copyright Marin Software -->

<script><!--
{document.write("<img src=http://tracking.searchmarketing.com/welcome.asp?SMCID=1971&x="+escape(document.referrer)+" width=1 height=1>");}
//--></script>
<script>var cbarProtocol=(("https:"==document.location.protocol)?"https://":"http://");document.write(unescape("%3Cscript src='"+cbarProtocol+"s3.amazonaws.com/cdn.barilliance.com/3balls.com/cbar.js.php'  type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript" src="/js/header-dd.js"></script>
</body>
</html>

